---
import { type NavigationMenuDto } from '../../types/dtos/NavigationMenu.dto';
import { type NetworkMenuDto } from '../../types/dtos/NetworkMenu.dto';

// img logo
const logoSrc: string = '/imagenes/logo/logo-32x32.webp';
const logoAlt: string = 'Logo de TrulyDigital.tech';

// img menu desplegable
const arrowDownSrc: string = '/imagenes/navegacion/teclado-flecha-abajo.webp';
const arrowDownAlt: string = 'Menú desplegable'; 

// botón buscar
const searchButtonSrc: string = '/imagenes/navegacion/buscar.webp';
const searchButtonAlt: string = 'Buscar cualqueir contenido';

// botón lateral para móviles
const mobileButtonSrc: string = '/imagenes/navegacion/menu.webp';
const mobileButtonAlt: string = 'Menú de navegación para dispositivos móviles';

// menu data
const nav: NavigationMenuDto = {
  menu: [
    {
      text: 'Emprendimiento',
      subMenuItem: [
        {
          text: 'Ideas de Negocios',
          desc: 'Inspirate y encuentra casos de éxito.',
          iconSrc: '/imagenes/navegacion/ideas-de-negocios.webp',
          iconAlt: 'Ideas de Negocios',
          href: '/',
        },
        {
          text: 'Desde casa',
          desc: 'Desde tu hogar, también puedes emprender.',
          iconSrc: '/imagenes/navegacion/emprendimientos-desde-casa.webp',
          iconAlt: 'Emprendimientos desde casa',
          href: '/',
        },
        {
          text: 'Digital',
          desc: 'Infinitas oportunidades con la ayuda de la tecnología.',
          iconSrc: '/imagenes/navegacion/emprendimiento-digital.webp',
          iconAlt: 'Emprendimiento Digital',
          href: '/',
        },
        {
          text: 'Para Mujeres',
          desc: 'Proyectos que regularmente ejecutan las mujeres.',
          iconSrc: '/imagenes/navegacion/emprendimientos-para-mujeres.webp',
          iconAlt: 'Emprendimientos para Mujeres',
          href: '/',
        }
      ]
    },
    {
      text: 'Programación',
      subMenuItem: [
        {
          text: 'NestJS',
          desc: 'Framework backend para TypeScript.',
          iconSrc: '/imagenes/navegacion/nestjs.webp',
          iconAlt: 'NestJS',
          href: '/',
        },
        {
          text: 'Docker',
          desc: 'Despliega tus aplicaciones de manera rápida y fácil.',
          iconSrc: '/imagenes/navegacion/docker.webp',
          iconAlt: 'Docker',
          href: '/',
        },
        {
          text: 'MongoDB',
          desc: 'Una base de datos no relacional muy popular.',
          iconSrc: '/imagenes/navegacion/mongodb.webp',
          iconAlt: 'MongoDB',
          href: '/',
        },
        {
          text: 'SQL',
          desc: 'Si eres programador FrontEnd o BackEnd, debes aprender SQL.',
          iconSrc: '/imagenes/navegacion/sql.webp',
          iconAlt: 'SQL',
          href: '/',
        },
        {
          text: 'TypeScript',
          desc: 'Aprende a programar de cero a experto.',
          iconSrc: '/imagenes/navegacion/typescript.webp',
          iconAlt: 'TypeScript',
          href: '/',
        },
        {
          text: 'AstroJS',
          desc: 'Framework para HTML, CSS, JavaScript, Tailwind y mas.',
          iconSrc: '/imagenes/navegacion/astrojs.webp',
          iconAlt: 'AstroJS',
          href: '/',
        },
      ]
    }
  ]
};

// network menu data
const networks: NetworkMenuDto[] = [
  {
    iconSrc: '/imagenes/navegacion/youtube.webp',
    iconAlt: 'Canal de Youtube.',
    tooltipText: 'Youtube',
    href: '/',
  },
  {
    iconSrc: '/imagenes/navegacion/github.webp',
    iconAlt: 'Perfil de GitHub.',
    tooltipText: 'GitHub',
    href: '/',
  },
];

---

<nav class="_nav">

  <!-- Navigation Box -->
  <div class="_nav_box">

    <!-- Navigation Logo -->
    <div class="_nav_logo">
      <a href="/">
        <img src={logoSrc} alt={logoAlt} />
        <span>TrulyDigital.tech</span>
      </a>
    </div>

    <!-- Navigation Menu -->
    <div class="_nav_menu">
      <ul>
        {
          nav.menu.map(menuItem => (
            // Menu Item
            <li class="_nav_menu_item group">
              <div>
                <span class="group-hover:text-yellow-700">
                  {menuItem.text}
                </span>
                <img class="group-hover:-rotate-90" src={arrowDownSrc} alt={arrowDownAlt} />
              </div>
              <div class:list={[ // Sub Menu Box 1 Col o Box Grid 2 Cols
                'group-hover:visible group-hover:opacity-100',
                {
                  '_nav_sub_menu_box_1_col': menuItem.subMenuItem.length <= 4,
                },
                {
                  '_nav_sub_menu_box_2_col': menuItem.subMenuItem.length > 4,
                }
              ]}>
                <ul class:list={[
                  {
                    '_nav_sub_menu_1_col' : menuItem.subMenuItem.length <= 4,
                  },
                  {
                    '_nav_sub_menu_2_col' : menuItem.subMenuItem.length > 4,
                  }
                ]}>
                  {
                    menuItem.subMenuItem.map(subMenuItem => (
                      // Sub Menu Item
                      <li class="_nav_sub_menu_item">
                        <a href={subMenuItem.href}>
                          <img src={subMenuItem.iconSrc} alt={subMenuItem.iconAlt} />
                          <span>
                            <span>
                              {subMenuItem.text}
                            </span>
                            <span>
                              {subMenuItem.desc}
                            </span>
                          </span>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- Navigation Extras -->
    <div class="_nav_net">
      {
        networks.map(network => (
          // network
          <a class="_nav_net_social group" href={network.href} >
            {/* icon */}
            <img src={network.iconSrc} alt={network.iconAlt} />
            {/* tooltip */}
            <span class="group-hover:visible group-hover:opacity-100">
              {network.tooltipText} 
            </span>
          </a>
        ))
      }
      <!-- Nav Networks Search -->
      <button class="_nav_net_search group">
        <!-- icon -->
        <img src={searchButtonSrc} alt={searchButtonAlt} />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> 
          Buscar
        </span>
      </button>
      <!-- Nav Networks Contact -->
      <a class="_nav_net_contact" href="/"> 
        Contácto 
      </a>
      <!-- Nav Networks Mobile Button -->
      <button class="_nav_mobile_button">
        <img src={mobileButtonSrc} alt={mobileButtonAlt} />
      </button>
    </div>
  </div>

  <!-- SideNav -->
  <div class="sidenav__menu">
    <!-- Close -->
    <button>
      <img src="" alt="">
    </button>
    <ul>

    </ul>
  </div>
</nav>
