---

// img logo
const logoSrc: string = '/imagenes/logo/logo-32x32.webp';
const logoAlt: string = 'Logo de TrulyDigital.tech';

// img menu desplegable
const arrowDownSrc: string = '/imagenes/navegacion/teclado-flecha-abajo.webp';
const arrowDownAlt: string = 'Menú desplegable'; 

// ideas de negocios
const ideasDeNegociosSrc: string = '/imagenes/navegacion/ideas-de-negocios.webp';
const ideasDeNegociosAlt: string = 'Ideas de Negocios';
const ideasDeNegociosText: string = 'Ideas de Negocios';
const ideasDeNegociosDesc: string = 'Inspirate, o encuentra casos de éxito.';

// emprendimientos desde casa
const emprendimientosDesdeCasaSrc: string = '/imagenes/navegacion/emprendimientos-desde-casa.webp';
const emprendimientosDesdeCasaAlt: string = 'Emprendimientos desde casa';
const emprendimientosDesdeCasaText: string = 'Desde casa';
const emprendimientosDesdeCasaDesc: string = 'Desde tu hogar, también puedes emprender.';

// emprendimiento digital
const emprendimientoDigitalSrc: string = '/imagenes/navegacion/emprendimiento-digital.webp';
const emprendimientoDigitalAlt: string = 'Emprendimiento Digital';
const emprendimientoDigitalText: string = 'Digital';
const emprendimientoDigitalDesc: string = 'Infinitas oportunidades con la ayuda de la tecnología.';

// emprendimientos para mujeres
const emprendimientosParaMujeresSrc: string = '/imagenes/navegacion/emprendimientos-para-mujeres.webp';
const emprendimientosParaMujeresAlt: string = 'Emprendimientos para Mujeres';
const emprendimientosParaMujeresText: string = 'Para Mujeres';
const emprendimientosParaMujeresDesc: string = 'Proyectos que regularmente ejecutan las mujeres.';

---

<nav class="navigation">

  <!-- Navigation Container -->
  <div class="navigation_container">

    <!-- Navigation Logo -->
    <div class="navigation__logo">
      <a href="/">
        <img src={logoSrc} alt={logoAlt} />
        <span>TrulyDigital.tech</span>
      </a>
    </div>

    <!-- Navigation Menu -->
    <div class="navigation__menu">
      <ul>

        <!-- Menu Item -->
        <li class="group">
          <div>
            <span class="group-hover:text-yellow-700">
              Emprendimiento
            </span>
            <img src={arrowDownSrc} alt={arrowDownAlt} />
          </div>
          <!-- Sub Menu -->
          <div class="navigation__menu___submenu-cols group-hover:visible group-hover:opacity-100">
            <ul class="navigation__menu___submenu-cols-1">
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src={ideasDeNegociosSrc} alt={ideasDeNegociosAlt}>
                  <span>
                    <span>
                      {ideasDeNegociosText}
                    </span>
                    <span>
                      {ideasDeNegociosDesc}
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src={emprendimientosDesdeCasaSrc} alt={emprendimientosDesdeCasaAlt}>
                  <span>
                    <span>
                      {emprendimientosDesdeCasaText}
                    </span>
                    <span>
                      {emprendimientosDesdeCasaDesc}
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src={emprendimientoDigitalSrc} alt={emprendimientoDigitalAlt}>
                  <span>
                    <span>
                      {emprendimientoDigitalText}
                    </span>
                    <span>
                      {emprendimientoDigitalDesc}
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src={emprendimientosParaMujeresSrc} alt={emprendimientosParaMujeresAlt}>
                  <span>
                    <span>
                      {emprendimientosParaMujeresText}
                    </span>
                    <span>
                      {emprendimientosParaMujeresDesc}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Menu Item -->
        <li class="group">
          <div>
            <span class="group-hover:text-yellow-700">
              Programación
            </span>
            <img src="/imagenes/navegacion/teclado-flecha-abajo.webp" alt="Menú desplegable" />
          </div>
          <!-- Sub Menu -->
          <div class="navigation__menu___submenu-grid group-hover:visible group-hover:opacity-100">
            <ul class="navigation__menu___submenu-cols-2">
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/imagenes/navegacion/nestjs.webp" alt="Ideas de Negocios">
                  <span>
                    <span>
                      NestJS
                    </span>
                    <span>
                      Framework backend para TypeScript.
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/imagenes/navegacion/docker.webp" alt="Emprendimientos desde casa">
                  <span>
                    <span>
                      Docker
                    </span>
                    <span>
                      Despliega tus aplicaciones de manera rápida y fácil.
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/imagenes/navegacion/mongodb.webp" alt="Emprendimiento Digital">
                  <span>
                    <span>
                      MongoDB
                    </span>
                    <span>
                      Una base de datos no relacional muy popular.
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/imagenes/navegacion/sql.webp" alt="Emprendimientos para Mujeres">
                  <span>
                    <span>
                      SQL
                    </span>
                    <span>
                      Si eres programador FrontEnd o BackEnd, debes aprender SQL.
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/imagenes/navegacion/typescript.webp" alt="Emprendimientos para Mujeres">
                  <span>
                    <span>
                      TypeScript
                    </span>
                    <span>
                      Aprende a programar de cero a experto.
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/imagenes/navegacion/astrojs.webp" alt="Emprendimientos para Mujeres">
                  <span>
                    <span>
                      Astro
                    </span>
                    <span>
                      Framework para HTML, CSS, JavaScript, Tailwind y mas.
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>

    <!-- Navigation Extras -->
    <div class="navigation__extras">
      <a href="/" class="group">
        <!-- icon -->
        <img src="/imagenes/navegacion/youtube.webp" alt="Canal de Youtube." />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> Youtube </span>
      </a>
      <a href="/" class="group">
        <!-- icon -->
        <img src="/imagenes/navegacion/github.webp" alt="Perfil de GitHub." />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> GitHub </span>
      </a>
      <button class="group">
        <!-- icon -->
        <img src="/imagenes/navegacion/buscar.webp" alt="Buscar artículos." />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> Buscar </span>
      </button>
      <a href="/"> Contácto </a>
      <button>
        <img src="/imagenes/navegacion/menu.webp" alt="Menú de navegación lateral" />
      </button>
    </div>
  </div>
</nav>
